<h1 class="centered fancy">Dashboard</h1>

<div id="welcome">
  <h2 id="welcome-message">Welcome to the Inventory System</h2>
  <p> You have <%= @sales_item.item_count %> items defined in the system. </p>
  <p>
    The
    <span id="average" class="bold-blue" onmouseover="document.getElementById('description').style.display='block'"
          onmouseout="document.getElementById('description').style.display='none' ">average</span>
    price of a sales item is <%=number_to_currency(@sales_item.item_avg) %>.
  </p>
</div>
<p id="description" style="display: none;">The average is the sum divided by the count.</p>

