// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#description{opacity: 0;
//transition: 1s;}

//#description:hover {
 // opacity: 1;
//}

p#description {
  display: "none";
  color: green;
  font-size: 14pt;
  text-align: center;
}
div#welcome {
  border: 1px solid blue;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  width: 40%;
}
.bold-blue {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}
h1.centered {
  text-align: center;
}
h1.fancy {
  color: darkgreen;
  text-decoration: underline;
}
 span #description{
   opacity: 1;
 }



